<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify NPI API (Offline check)</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 2em; }
        .form-group { margin-bottom: 1.5em; }
        label { display: block; margin-bottom: 0.5em; font-weight: bold; }
        textarea { width: 100%; min-height: 150px; font-family: monospace; }
        button { margin-top: 0.5em; }
    </style>
</head>
<body>
    <h1>Verify NPI API (Offline check)</h1>
    <p>Check to see if an NPI number is valid by using the Luhn algorithm.  This is similiar to a check of a credit card number before it is submitted.
        This tool can be used in front-end tool validation as illustrated in the demonstration.</p>
    <h3>API Request</h3>

    <pre>
         curl {{ request.scheme }}s://{{ request.META.HTTP_HOST }}{% url 'vnpi:api' npi_number='1144203563' %}
    </pre>
    
    <h3>API Response</h3>
    
    <p>The API response contains JSON indicating if the NPI is valid or not.  If invalid, the response contains and `error` as well.</p>
    <h4>Example of a good response</h4>
    <pre>
{
"valid": true,
"number": "1144203563"
}
    </pre>

 <h4>Example of a bad response using the NPI "1144203564". </h4>

     <pre>
         curl {{ request.scheme }}s://{{ request.META.HTTP_HOST }}{% url 'vnpi:api' npi_number='1144203564' %}
    </pre>

    <p>This call fails the Luhn check since the check digit should be 3 instead of 4.</p>
 <pre>
{
  "valid": false,
  "number": "1144203564",
  "error": "Invalid NPI number"
}
 </pre>


<h4>Example of a bad response using the NPI "foobar". </h4>

     <pre>
         curl {{ request.scheme }}s://{{ request.META.HTTP_HOST }}{% url 'vnpi:api' npi_number='foobar' %}
    </pre>

    <p>This fails fails because it is not an integer.</p>
 <pre>
{
  "valid": false,
  "number": "foobar",
  "error": "NPI must be numeric."
}
 </pre>


</body>
</html>