{% extends "home/base.html" %}
{% load i18n %}

{% block title %}Health Data Quality APIs, Tools, and Librarie - Home{% endblock %}
{% block content %}
    <h1>Health Data Quality Utilities</h1>
    <h2> APIs, Command-line tools, and Python Libraries </h2>
    <p>This is a collection of tools that may be downloaded to operate within your own environment, either by accessing 
        equivalent command-line tools or by hosting these web service APIs locally.</p>
    <p>The links allow you to try out the functionality in a live environment. Only use sample data when testing.</p>
    <ul>
        <li><a href="{% url 'fhirec:index' %}">FHIR Server Inspector</a> - Examine a FHIR server's capability statement and related metadata.</li>
        <li><a href="https://dataquality.cdcmeta.com">Data Quality Tools and APIs</a> - FHIR Codeset APIs, Codeset APIs, and CSVs.</li>
        <li><a href="https://cdcmeta.com">USCDI+ Cheat Sheets for Public Health</a> - CSV tables and JSON files with simplified access to US Core FHIR Profiles URLS, descriptions, names, and more.</li>
        <li><a href="{% url 'cda2fhir:index' %}">CDA2FHIR Parsing Tool</a> - Convert CDA(XML) to FHIR JSON Bundle.</li>
        <li><a href="{% url 'labcheck:index' %}">HL7v2 Validation and Parsing Tool</a> -Parse HL7v2 messages into a JSON object.</li>
        <li><a href="{% url 'vnpi:index' %}">Validate a National Provider Identifier (NPI)</a> -Check to see if an NPI number appears to be valid in a form before submitting for processing.</li>
        <li><a href="{% url 'directcheck:index' %}">Check a Direct Address or Endpoint</a> -Check to see if a certificate can be found for Direct endpoint/address in DNS and/or public LDAP.</li>
    </ul>



    <h1>Source Code</h1>
    <p>
      Code provided here is for research and development purposes only.  Please see the individual project repositories for more information.
    </p>
    <ul>
        <li><a href="https://github.com/CDCgov/rmeta/">ReportMeta(CDCgov/rmeta)</a> - Contains the USCDI+ cheatsheets, tools for building the dataquality CDN, and more.</li>
        <li><a href="https://github.com/CDCgov/hdu/"> Health Data Utilities (CDCgov/hdu)</a> - Contains Command-line utilties, web services,
             and libraies for HL7v2, FHIR, and CDA extration and conversion. Services can be run locally or deployed to a cloud service provider.
        </li>

        <li><a href="https://github.com/CDCgov/routes">Routes and Triggers (CDCgov/routes)</a> - A proposed method to publish public-facing machine readble-documents of routes and triggers for the transmission of public health data.
            See the <a href=https://github.com/CDCgov/routes/tree/main/prototypes>prototypes</a> folder for working examples.
            </li>
    </ul>
{% endblock %}