{% extends "home/base.html" %}
{% load i18n %}

{% block title %}Health Data Quality APIs, Tools, and Libraries - Home{% endblock %}
{% block content %}
    <h1>Health Data Quality Utilities</h1>
    <h2>APIs, Command-line tools, and Python Libraries </h2>
    <p>These tools are provided as-is and as a proof of concept (POC). 
    You are encouraged to download and operate these resources within your own environment, either by accessing 
        equivalent command-line tools or by hosting these web service APIs locally. Source code links are provided 
        below for each project. Code contributions should be submitted via pull request.</p>
    <ul>
        <li><a href="https://dataquality.cdcmeta.com/fhir/index.html">FHIR ValueSet Resources - Content Delivery Netowrk (CDN)</a> - Fetch FHIR endpoints to get codeset information 
            (e.g. condition codes.)</li>
        <li><a href="{% url 'fhirec:index' %}">FHIR Server Inspector</a> - Fetch a FHIR server's discoverable metadata including its capability statement, SMART configuration, and more.</li>
        <li><a href="{% url 'cda2fhir:index' %}">CDA2FHIR Parsing Tool</a> - Convert CDA(XML) to FHIR JSON Bundle.</li>
        <li><a href="https://dataquality.cdcmeta.com">Data Element and Code Value Specific APIs - Content Delivery Netowrk (CDN)</a> - Fetch information on Data Elements and specific code values.</li>   
        <li><a href="{% url 'labcheck:index' %}">HL7v2 Validation and Parsing Tool</a> - Parse HL7v2 messages into a JSON object.</li>
        <li><a href="{% url 'vnpi:index' %}">National Provider Identifier (NPI) Validation</a> - Validate an NPI number before submitting it for processing.</li>
        <li><a href="{% url 'directcheck:index' %}">Direct Address/Endpoint Lookup Tool</a> - Fetch certificates in DNS and (Public) LDAP for a given Direct Secure Messaging email or 
            domain-bound endpoint.</li>
    </ul>



    <h1>Source Code</h1>
    <p>
      Code provided here is for research and development purposes only.  Please see the individual project repositories for more information. Pull requersts are welcome.
    </p>
    <ul>
        <li><a href="https://github.com/CDCgov/rmeta/">ReportMeta(CDCgov/rmeta)</a> - Contains the USCDI+ cheatsheets, tools for building the dataquality CDN, and more.</li>
        <li><a href="https://github.com/CDCgov/hdu/"> Health Data Utilities (CDCgov/hdu)</a> - Contains Command-line utilties, web services,
             and libraies for HL7v2, FHIR, and CDA extration and conversion. Services can be run locally or deployed to a cloud service provider.
        </li>

        <li><a href="https://github.com/CDCgov/routes">Routes and Triggers (CDCgov/routes)</a> - A proposed method to publish public-facing machine readble-documents of routes and triggers for the transmission of public health data.
            See the <a href=https://github.com/CDCgov/routes/tree/main/prototypes>prototypes</a> folder for working examples.
            </li>
    </ul>
{% endblock %}