<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDA2FHIR Converter</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 2em; }
        .form-group { margin-bottom: 1.5em; }
        label { display: block; margin-bottom: 0.5em; font-weight: bold; }
        textarea { width: 100%; min-height: 150px; font-family: monospace; }
        button { margin-top: 0.5em; }
    </style>
</head>
<body>
    <h1>CDA2FHIR Converter</h1>
    <h2>Convert CDA XML to a FHIR JSON Bundle</h2>
     <a href="{% url 'cda2fhir:api_doc' %}">API Documentation</a>
    <p>Just paste valid CCDA data in the form below. Then click the "Convert" button.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="cda-input">CDA Input</label>
            <textarea id="cda-input" name="cda-input" placeholder="Paste CDA XML here">{{cda_input}}</textarea>
            <button type="button" onclick="clearCDAInput()">Clear CDA Input</button>
        </div>
        <button type="submit">Convert</button>
        <div class="form-group">
            <label for="fhir-output">FHIR Output</label>
            <textarea id="fhir-output" name="fhir-output" placeholder="FHIR output will appear here">{{fhir_output}}</textarea>
            <button type="button" onclick="copyFHIR()">Copy FHIR Output</button>
        </div>
    </form>
    <script>
        function copyFHIR() {
            const fhirOutput = document.getElementById('fhir-output');
            fhirOutput.select();
            fhirOutput.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand('copy');
            alert('FHIR Output copied to clipboard!');
        }
        function clearCDAInput() {
            document.getElementById('cda-input').value = '';
        }
    </script>
</body>
</html>