{% extends "home/base.html" %}

{% block title %}CDA2FHIR Conversion{% endblock %}

{% block content %}
   
    <div class="form-container">
        <h1>CDA2FHIR Conversion</h1>
        <h2>Transform a CDA document into a FHIR Bundle.</h2>
        <p>The <a href="{% url 'cda2fhir:api_doc' %}">API Documentation is here</a>.</p>

        <p>Paste your CDA message below and click "Convert" to validate and convert it to a FHIR Bundle in JSON format.
            Do not include any PHI or sensitive information in the message unless you trust the 
            host in the URL. You may also download this tool and use it a command-line utility or the web service 
            in your own environment.
        </p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="cda-input">CDA Input</label>
                <textarea id="cda-input" name="cda-input" placeholder="Paste CDA message here">{{ cda_input }}</textarea>
            </div>
            <div class="form-group">
                <label for="json-output">JSON Output</label>
                <textarea id="json-output" name="json-output" readonly placeholder="Parsed JSON will appear here">{% if fhir_output %}{{ fhir_output|safe }}{% endif %}</textarea>
            </div>
            <div class="button-group">
                <button type="submit">Convert</button>
                <button type="button" onclick="clearCDAInput()">Clear CDA Input</button>
            </div>
        </form>
        {% if error %}
            <div class="error">Error: {{ error }}</div>
        {% endif %}
    </div>

    <script>
        function clearCDAInput() {
            document.getElementById('cda-input').value = '';
        }
    </script>
{% endblock %}